    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery-migrate-3.5.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/archiv-data.js"></script>
    <script src="js/archiv-catalog.js"></script>
    <script src="js/archiv-local-ready.js"></script>
    <script src="js/archiv-images.js"></script>
    <script src="js/archiv.js"></script>
